

<div class='bcw p15'>
  <div class='container--xl ma'>
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}

    <div class='f jcb aic fw'>
      {% for product in collection.products limit: 6 %}
        <div>
          <a href="{{ product.url | within: collection }}">
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
            <h4>{{ product.title }}</h4>
            {% if product.compare_at_price > product.price %}
              {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
              {% endif %}
            {% else %}
              {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
