<!--
  Considerations for the header:
    1. Schema.org tags
      - <h1 itemscope itemtype="http://schema.org/Organization">
      - itemprop [url, logo] etc
-->
<div data-section-id="{{ section.id }}" data-component="header">
  <header role="banner">
    <div class="f jcb aic px1">
      <h1 itemscope itemtype="http://schema.org/Organization">
        <em>Slater</em>
      </h1>

      {% if shop.customer_accounts_enabled %}
        <ul>
          {% if customer %}
            <li>
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
        </ul>
      {% endif %}

      <div class='f jcb'>
        {% include 'search' %}

        <a class='ml1 js-cart-drawer-toggle' href="/cart">
          Cart
          <span class='js-cart-count'>{{ cart.item_count }}</span>
        </a>
      </div>
    </div>
    <div class='px1'>
      {% include 'navigation' %}
    </div>
  </header>
</div>